:root {
    --Dark-bg: #111111;
    --Medium-bg: #242424;
    --Light-font: #fcfcfc;
    --accent: #a0d468;
    --accent-hover: #8cc152;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: all 0.2s ease;
}

a:hover {
    color: var(--accent-hover);
}

body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Dark-bg);
    font-family: 'Mulish', sans-serif;
}

.card {
    max-width: 20rem;
    background-color: var(--Medium-bg);
    border-radius: 0.2rem;
    padding: 1.8rem;
}

.avatar {
    max-width: 36px;
    align-self: flex-start;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.body-content {
    margin-top: 0.8rem;
    color: var(--Light-font);
    line-height: 1.5;
}

.body-content h2, .subtitle, .description {
    margin-bottom: 0.8rem;
}

@media (min-width: 768px) {
    .card {
        max-width: 35rem;
        padding: 2.5rem;
    }

    .avatar {
        max-width: 48px;
    }

    .body-content {
        margin-top: 1.2rem;
    }
    
    .body-content h2, .subtitle, .description {
        margin-bottom: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .card {
        max-width: 45rem;
        padding: 3rem;
    }

    .avatar {
        max-width: 52px;
    }
    
}