:root {
    --black: #212121;
    --white: #fafafa;
    --accent: #b540f8;
    --accent-hover: #3b0f74;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100%;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

p, span {
    color: var(--black);
}

/* main */
main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* avatar */
.avatar {
    margin-top: 3rem;
    max-width: 96px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

/* social */
.social {
    padding: 1rem;
    display: flex;
}

.social li {
    cursor: pointer;
    margin-left: 1.5rem;
}

.social li:first-child {
    margin-left: 0;
}

.social li a img {
    width: 28px;
}

/* description */
.description {
    text-align: center;
}

.description h2, .description p {
    margin-bottom: 0.3rem;
}

.description h2 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--accent);
}

.description p {
    line-height: 1.5;
}

.description span {
    opacity: 0.7;
    display: block;
    margin-bottom: 2rem;
}

/* project */

.project-thumbnail img {
    width: 100%;
}

.project-thumbnail figcaption {
    margin: 1rem 0 2rem 0;
    text-align: center;
}

.project-thumbnail figcaption a {
    line-height: 1.7;
    text-decoration: none;
    color: var(--accent);
}

/* video section */
.video-section {
    width: 100%;
    text-align: center;
}

.video-section p {
    margin-bottom: 4rem;
}
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 1rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* 404 section */
.error-404-container {
    width: 95%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-404-img {
    max-width: 160px;
    margin-bottom: 1rem;
}

.error-404-img img {
    width: 100%;
}

.error-404-message {
    font-size: 1.2rem;
}

.error-404-cta {
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--accent);
    transition: all 0.2s ease-out;
}

.error-404-cta:hover {
    background-color: var(--accent-hover);
}
/* End 404 */

@media (min-width: 1024px) {
    main {
        width: 50%;
    }

    /* 404 */
    .error-404-img {
        max-width: 256px;
    }
}