@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

/* Variaveis */
:root {
  --main-color: #EC255A;
  --secondary-color: #FAEDF0;
  --text-color: #0a0b29;

}

/* Reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Main container */
.main-container {
  height: 100%;
  width: 420px;
}


/* Profile section */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  height: 120px;
  width: 120px;
}

.profile-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-description {
  color: var(--text-color);
  text-align: center;
}

.profile-description h1 {
  font-weight: 500;
}

.profile-description p {
  font-weight: 300;
}

/* Links section */
.links-section {
  text-align: center;
}

.links-list {
  display: flex;
  flex-direction: column;
}

.links-list li {
  width: auto;
  list-style: none;
  background-color: var(--main-color);
  margin: 0.8rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
}

.links-list li:hover {
  background-color: #8a174f;

}

.links-list a {
  display: block;
  padding: 0.5rem;
  color: white;
  font-style: 1rem;
  text-decoration: none;
}

.links-list img {
  width: 0.7rem;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  text-align: center;
}

@media (max-height: 770px) {

  body {
    background-position-y: 32rem;
  }
}

@media (max-width: 550px) {

  body {
    background-position: bottom;
  }

}
