:root {
    --Accent: #7167d9;
    --Dark: #3A354D;
    --Mid: #9598A6;
    --Light: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    color: var(--Dark);
    font-weight: 600;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    margin-right: 0.5rem;
}

.menu li {
    margin-left: 1.2rem;
}

.menu li a {
    color: var(--Dark);
    transition: all 0.2s ease;
}

.menu li a:hover {
    color: var(--Mid);
}

/* main body */
main {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* project container */
.project-container {
    margin-top: 1.2rem;
    padding: 0.5rem;
    text-align: center;
}

figure {
    text-align: center;
}

figure figcaption {
    color: var(--Dark);
}

.button {
    display: block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    transition: all 0.2s ease;
    font-weight: 500;
}

.button.cta {
    background-color: var(--Accent);
    color: var(--Light);
}

.button.github {
    border: 1px solid var(--Dark);
    color: var(--Dark);
}

.button.cta:hover {
    background-color: var(--Dark);   
}

.button.github:hover {
    background-color: var(--Dark);
    color: var(--Light);
}

/* footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
}

footer p {
    color: var(--Dark);
}

footer p a {
    color: var(--Accent);
}
@media (min-width: 768px) {
    header {
        max-width: 80%;
        margin: 0 auto;
    }

    .project-container {
        margin-top: 2.5rem;

    }
}