@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap');

/* variables */
:root {
    --clr-bg-light: white;
    --terminal-toolbar: #2C2C2C;
    --terminal-bg: #29174e;
    --clr-accent-color: #db369c;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic styling */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(340deg, rgba(42,26,74,1) 0%, rgba(109,52,175,1) 100%);
    font-family: 'Inconsolata', monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-bg-light);
}

/* terminal container */
.terminal-container {
    background: var(--terminal-bg);
    border-radius: 0.25rem;
    border: 1px solid #a72876;
}

/* terminal container tab */
.terminal-tab {
    background-color: var(--terminal-toolbar);
    text-align: center;
    border-radius: 0.25rem 0.25rem 0 0;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

.terminal-tab p {
    color: var(--clr-bg-light);
    font-weight: 300;
    padding: 0.35rem;
}

/* terminal inside */
.terminal-inside {
    padding: 0.75rem 4rem 0 0.75rem;

}

.terminal-inside h1 {
    color: var(--clr-accent-color);
    font-family: 'Inconsolata', monospace;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
    word-spacing: -12px;
}

.terminal-inside > p {
    font-family: 'Inconsolata', monospace;
    color: var(--clr-bg-light);
    margin-bottom: 2rem;
}

/* social container */
.social-menu {
    margin-bottom: 2rem;
}

.social-menu li {
    margin-bottom: 0.5rem ;
}

.social-menu li a {
    font-family: 'Inconsolata', monospace;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.social-menu li a:hover {
    color: rgb(145, 145, 145);
}

@media (min-width: 650px) {
    .terminal-container {
        width: 600px;
        height: 450px;
    }

    .terminal-inside {
        padding: 1rem 4rem 0 1rem;
    }

    .terminal-inside h1 {
        font-size: 4rem;
        margin-top: 2rem;
    }
    
    .terminal-inside > p {
        margin: 0.5rem 0 2rem 0;
    }
    
    .social-menu li a {
        font-size: 1.2rem;
    }

    .terminal-user {
        font-weight: 300;
        font-size: 1.2rem;
    }
}