@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* variables */
:root {
    --clr-bg-light: #e8e8e8;
    --clr-bg-dark: #212121;
    --clr-accent-color: #fc016a;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic styling */
body {
    /* position relative just to place the text on the corner */
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-dark);
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

 p {
    position: absolute;
    color: var(--clr-bg-light);
    opacity: 0.2;
    text-align: center;
    bottom: 0vh;
    left: 0vw;
    padding: 0 0 10px 10px;
}

/* card */
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 340px;
    width: 240px;
    background-color: var(--clr-bg-dark);
    border-radius: 0.6em;
    border: var(--clr-bg-dark) 0.2rem solid;
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 15px var(--clr-accent-color);
}

.card:hover{
    /* make the card slide to top */
    transform: translateY(-1.4rem);
    border: var(--clr-accent-color) 0.2em solid;
    border-radius: 2rem 0 2rem 0;
    box-shadow: 0px 0px 20px var(--clr-accent-color);
}

.card:hover .profile-image {
    /* make the image bigger */
    transform: scale(1.1);
}

.card:hover .profile-social ul {
    /* reveal the icons */
    opacity: 1;
}

.card h1 {
    color: var(--clr-bg-light);
    font-size: 1.4em;
    font-weight: 400;
    margin: 1em 0;
    text-align: center;
}

/* profile image */

.profile-image {
    width: 96px;
    height: 96px;
    margin: 60px auto 10px auto;
    transition: all 0.3s ease-in;
}

.profile-image img {
    width: 100%;
    border-radius: 50%;
}

/* profile social */

ul {
    display: flex;
    padding-top: 2em;
    /* hide the icons when not hovered */
    opacity: 0;
    transition: all 0.3s ease-in;
}

ul li {
    margin-left: 1em;
}

ul li:first-child {
    margin-left: 0;
}

ul li a {
    cursor: pointer;
}