/* variables */
:root {
    --clr-bg-light: #fff;
    --pure-black: #000;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic styling */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-light);
    font-family: 'Mulish', sans-serif;
}

li {
    list-style: none;
    margin-left: 1rem;
}

.li-1 {
    margin-left: 0;
}

a {
    color: var(--pure-black);
    text-decoration: none;
    padding:  0.5rem 1rem;
    border: 1px solid transparent;
    transition: all 0.2s ease-out;
}

a:hover {
    border: 1px solid var(--pure-black);
    border-radius: 0.3rem;
}


h1, h2, p {
    text-align: center;
}

h2 {
    font-size: 0.9rem;
}

ul {
    display: flex;
}
/* main container */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    max-width: 95%;
}

.coming-soon img {
    width: 100%;
}