/* variables */
:root {
    --clr-bg-light: #fff;
    --clr-bg-main: #F96C77;
    --pure-black: #000;
    --clr-one: #eed359;
    --clr-two: #5ecc9a;
    --clr-three: #4885b8;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic styling */
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-main);
    font-family: 'Mulish', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* main container */
.main-container {
    background-color: var(--clr-bg-light);
    border-radius: 1rem;
    border: 2px solid var(--pure-black);
    border-bottom: 6px solid var(--pure-black);
    min-height: 30vh;
}

/* main text */
.main-text {
    margin: 2rem 1rem;
    border-radius: 1rem 1rem 1rem;
    border: 2px solid var(--pure-black);
    border-bottom: 4px solid var(--pure-black);
}

.main-text h1 {
    padding: 0.25rem;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.main-text p {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* social container */
.social-container {
    margin: 3rem 0.6rem 0.6rem 0.6rem;
}

.social-menu {
    display: flex;
}

.social-menu li {
    border-radius: 1rem;
    border: 2px solid var(--pure-black);
    border-bottom: 4px solid var(--pure-black);
    transition: transform 0.1s ease;
    margin: 0 0 0.5rem 0.5rem;
}

.social-menu li:first-child {
    margin: 0 0 0.5rem 0;
}

.social-menu li:hover {
    border-bottom: 2px solid var(--pure-black);
    transform: translateY(2px);
}

.social-menu li a {
    display: block;
    padding: 1rem;
    color: var(--pure-black);
    font-weight: 900;
    font-size: 1rem;
}

.li-color-1 {
    background-color: var(--clr-one);
}

.li-color-2 {
    background-color: var(--clr-two);
}

.li-color-3 {
    background-color: var(--clr-three);
}

.li-color-1:hover, .li-color-2:hover, .li-color-3:hover {
    filter: contrast(120%);
}

@media (min-width: 650px) {
    .main-container {
        min-width: 600px;
        min-height: 250px;
    }

    .main-text h1 {
        font-size: 2rem;
    }

    .main-text p {
        font-size: 1.1rem;
    }

    .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-menu {
        flex-wrap: wrap;
    }

    .social-menu li {
        min-width: 150px;
        margin: 0 0.5rem 0.5rem 0;
    }

    .social-menu li:first-child {
        margin: 0 0.5rem 0.5rem 0;
    }

    .social-menu li:hover {
        border-bottom: 2px solid var(--pure-black);
        margin-bottom: 0.625rem;
    }
}
